Bonjour  $lastName $firstName, 
<br/>
<br/>
Votre demande d'identification a bien &eacute;t&eacute; enregistr&eacute;e.
<br/>
Votre demande sera trait&eacute;e dans les plus brefs d&eacute;lais par notre service client&egrave;le. 
<br/>
<br/>
Cordialement,<br/> 